{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body class="font-sans bg-gray-100">
    <main>
      {% block content %}
      
      {% endblock content %}
    </main>

    <footer class="bg-gray-800 text-gray-500 py-12">
      <div class="container mx-auto px-6">
        <div class="flex flex-wrap justify-between">
          <div class="w-full md:w-1/4 mb-8 md:mb-0">
            <h3 class="text-lg font-semibold mb-4">Event Management</h3>
            <p class="text-gray-400">
              Empowering teams with efficient Event management solutions.
            </p>
          </div>
          <div class="w-full md:w-1/4 mb-8 md:mb-0">
            <h4 class="text-lg font-semibold mb-4">Quick Links</h4>
            <ul class="text-gray-400 space-y-2">
              <li><a href="#" class="hover:text-white">Home</a></li>
              <li><a href="#" class="hover:text-white">Features</a></li>
              <li><a href="#" class="hover:text-white">Pricing</a></li>
              <li><a href="#" class="hover:text-white">Contact</a></li>
            </ul>
          </div>
          <div class="w-full md:w-1/4 mb-8 md:mb-0">
            <h4 class="text-lg font-semibold mb-4">Connect</h4>
            <ul class="text-gray-400 space-y-2">
              <li><a href="#" class="hover:text-white">Twitter</a></li>
              <li><a href="#" class="hover:text-white">LinkedIn</a></li>
              <li><a href="#" class="hover:text-white">Facebook</a></li>
            </ul>
          </div>
        </div>
        <div
          class="border-t border-gray-700 mt-12 pt-8 text-sm text-center text-gray-400"
        >
          &copy; 2025 Event Management. All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
